[Desktop Entry]
Type=Application
Name=Emacs daemon
Comment=Emacs server in the 'emacs' distrobox
Exec=distrobox enter emacs -- /usr/bin/emacs --fg-daemon
Icon=emacs
X-KDE-autostart-phase=2
NoDisplay=true
